root_management_group_id           = "bdt"
root_management_group_display_name = "BDT"
location                           = "eastus2"
subscription_id_management         = "<management-sub-uuid>"
subscription_id_connectivity       = "<connectivity-sub-uuid>"
subscription_id_identity           = "<identity-sub-uuid>"

default_tags = {
  Application          = "Azure Landing Zone Layer 1"
  CreationDate         = "05172026"
  DevOwner             = "raghavendirann@presidio.com"
  BusinessOwner        = ""
  Environment          = "mgt"
  CostCenter           = ""
  DataClassification   = "Restricted"
  BusinessCriticality  = "Mission-critical"
  Compliance           = ""
}
